#####  Project Proposal Group 35

# Classifying the Presence or Absence of the European Tree Frog due to  Environmental Factors in Poland


## Introduction

The European Tree Frog (*Hyla arborea*) is a common amphibian species found throughout Europe, including Poland. The presence or absence of amphibian species, including the European Tree Frog, have been limited by several environmental factors: the number and type of water resevoirs, the use of each water resevoir, the presence of vegetation nd fishing, and how well maintained the water resevoirs are.

**Question:** The question we will attempt to answer with our project is: can we use environmental factors to predict the presence or absence of tree frogs in a given area.

**Dataset:** The dataset that will be used to answer the aforementioned question is titled amphibians.csv, and was taken from the UCI Machine Learning Repository. The data was originally gathered fro an environmental impact assessement in Poland for the preparation of two upcoming raod projects.

## Preliminary Exploratory data Analysis

Below we demonstrate the full data set can be read into R.

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [9]:
amphibians <- read_delim("data/amphibians.csv", delim = ";", skip = 1)

Parsed with column specification:
cols(
  .default = col_double(),
  Motorway = col_character()
)

See spec(...) for full column specifications.

In [10]:
head(amphibians)

  ID Motorway SR  NR TR VR SUR1 SUR2 SUR3 UR ⋯ BR MR CR Green frogs Brown frogs
1 1  A1       600 1  1  4   6    2   10   0  ⋯ 0  0  1  0           0
2 2  A1       700 1  5  1  10    6   10   3  ⋯ 1  0  1  0           1
3 3  A1       200 1  5  1  10    6   10   3  ⋯ 1  0  1  0           1
4 4  A1       300 1  5  0   6   10    2   3  ⋯ 0  0  1  0           0
5 5  A1       600 2  1  4  10    2    6   0  ⋯ 5  0  1  0           1
6 6  A1       200 1  5  1   6    6   10   1  ⋯ 0  0  1  0           0
  Common toad Fire-bellied toad Tree frog Common newt Great crested newt
1 0           0                 0         0           0
2 1           0                 0         1           0
3 1           0                 0         1           0
4 1           0                 0         0           0
5 1           1                 0         1           1
6 0           0                 0         0           0

In [11]:
tail(amphibians)

  ID  Motorway SR   NR TR VR SUR1 SUR2 SUR3 UR ⋯ BR MR CR Green frogs
1 184 S52      4000 1  12 4  2     6   10   0  ⋯ 1  0  1  0
2 185 S52      2300 1  12 3  2     2    1   0  ⋯ 1  0  1  0
3 186 S52       300 1  14 2  7    10    2   0  ⋯ 5  0  1  1
4 187 S52       500 1   1 4  1    10    2   0  ⋯ 5  0  1  1
5 188 S52       300 1  12 3  2     1    6   0  ⋯ 0  0  1  0
6 189 S52       300 1  12 3  2     6   10   0  ⋯ 1  0  1  0
  Brown frogs Common toad Fire-bellied toad Tree frog Common newt
1 1           1           0                 0         0
2 1           0           0                 0         0
3 1           1           1                 0         1
4 1           1           1                 0         1
5 1           1           0                 0         0
6 1           1           0                 0         0
  Great crested newt
1 0
2 0
3 0
4 0
5 0
6 0

In [6]:
glimpse(amphibians)

Rows: 190
Columns: 23
$ Integer       <chr> "ID", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"…
$ Categorical   <chr> "Motorway", "A1", "A1", "A1", "A1", "A1", "A1", "A1", "…
$ Numerical     <chr> "SR", "600", "700", "200", "300", "600", "200", "500", …
$ Numerical_1   <chr> "NR", "1", "1", "1", "1", "2", "1", "1", "1", "2", "1",…
$ Categorical_1 <chr> "TR", "1", "5", "5", "5", "1", "5", "5", "5", "5", "12"…
$ Categorical_2 <chr> "VR", "4", "1", "1", "0", "4", "1", "0", "2", "1", "4",…
$ Categorical_3 <chr> "SUR1", "6", "10", "10", "6", "10", "6", "6", "10", "6"…
$ Categorical_4 <chr> "SUR2", "2", "6", "6", "10", "2", "6", "6", "6", "1", "…
$ Categorical_5 <chr> "SUR3", "10", "10", "10", "2", "6", "10", "10", "9", "2…
$ Categorical_6 <chr> "UR", "0", "3", "3", "3", "0", "1", "1", "0", "0", "0",…
$ Categorical_7 <chr> "FR", "0", "1", "4", "4", "0", "0", "2", "0", "1", "0",…
$ Numerical_2   <chr> "OR", "50", "75", "75", "25", "99", "50", "25", "100", …
$ Ordinal       <chr> "RR", "0", "1", "1", "0", "0", "0", "0", "1", "1", "1",…
$ Ordinal_1     <chr> "BR", "0", "1", "1", "0", "5", "0", "0", "1", "0", "0",…
$ Categorical_8 <chr> "MR", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",…
$ Categorical_9 <chr> "CR", "1", "1", "1", "1", "1", "1", "2", "1", "1", "1",…
$ `Label 1`     <chr> "Green frogs", "0", "0", "0", "0", "0", "0", "0", "1", …
$ `Label 2`     <chr> "Brown frogs", "0", "1", "1", "0", "1", "0", "0", "1", …
$ `Label 3`     <chr> "Common toad", "0", "1", "1", "1", "1", "0", "1", "0", …
$ `Label 4`     <chr> "Fire-bellied toad", "0", "0", "0", "0", "1", "0", "0",…
$ `Label 5`     <chr> "Tree frog", "0", "0", "0", "0", "0", "0", "0", "0", "0…
$ `Label 6`     <chr> "Common newt", "0", "1", "1", "0", "1", "0", "0", "0", …
$ `Label 7`     <chr> "Great crested newt", "0", "0", "0", "0", "1", "0", "0"…

Our finalized training set will have 7 variables (columns), with six of them as our predictors and the seventh being our classification variable, the presence or absence of the European Tree Frog. The six predictors, despite being all categorical, will be represented by numerical values that correspond to a certain variable type. We will summarize this training set in a table which displays the number of times we observe each of these variable types for a given predictor.

To visualize this we will create a bar chart to look at the frequency of each of the predictors. Count will be shown on the y-axis and will be plotted against the six predictors on the x-axis.

## Methods

Not much data wrangling will be needed in order to conduct the analysis as the dataset is already in a tidy csv format. However, certain columns will need to beremoved from the data set as they are not directly relevant to the question being asked. The columns that will be removed are ID, SR, SUR1/2/3, OR, RR, BR, CR, green frogs, brown frogs, common toad, fire-bellied toad, common newt, and great crested newt.

We will conduct our data anaysis using a K nearest neighbours classifier with variables NR, TR, UR, VR, FR, MR as predictors. We will spilt our data set into a training set and a testing set and use the training set and cross validation to train our classifier and tune for an optimal K value. We will then apply this classifier to a test subset of our data to determine its accuracy. This accuracy measurment will represent our ability to predict the presence or absence of European Tree Frogs in a given area using environmental factors.

One way we will visualize our results is with onr grand bar chart. Count will be shown on the y-axis, and will be plotted against the six predictors on the x-axis. Color will be used to denote the presence or absence of the European Tree Frog for each of the predictors. We will also include a stacked column bar chart comparing the result of our predictions versus the true presence or absence of European tree frogs.

## Expected Outcomes and Significance

By the end of our analysis, we expect to be able to determine how each environmental factor impacts the presence of the european Tree Frog. We predict that water reservoirs with less human impact will have a higher chance of the presence of tree frogs.

These finding could greatly help i environmental impact assessments towards the consideration and planning of future infastructure projects in poland.

Furthre questions this could lead to include determining which predictor has the most significant impact of th epresence of the tree frog, as well as whether our finding could yield simillar results for other species of amphibians.